# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Local secrets
.env
.env.*

# Local datasets
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Windows
Thumbs.db
Desktop.ini
